

body{
    background-image: linear-gradient(to bottom right, #3423ea, #971eac);
    height: 100vh;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
  }
  
  form{
    height: 60vh;
    width: 50vw;
    background-color: #d8d8d8;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2)
  }
  
  h3{
    font-family: 'Open Sans', sans-serif;
  }
  
  .titulo{
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  
  .input-email{
    /* background-color: aqua; */
    height: 10vh;
    width: 50vw;
    text-align: center;
    
  }
  
  .input-senha{
    /* background-color: purple; */
    height: 10vh;
    width: 50vw;
    text-align: center;
  }

  .input-usuario{
    height: 10vh;
    width: 50vw;
    text-align: center;
  }
  
  .botao{
    /* background-color: black; */
    height: 8vh;
    width: 50vw;
    text-align: center;
    
  }
  .rodape{
    /* background-color: blue; */
    height: 8vh;
    width: 50vw;
    text-align: center;
  }
  .rodape a{
    color: rgb(15, 15, 15);
  }

  
  
  .rodape a:hover{
    color: blue;
  }
  
  #Email{
    width: 25vw;
  }
  #Senha{
    width: 25vw;
  }
  #Login{
    width: 15vw;
    height: 5vh;
  }
  #Registrar{
    width: 15vw;
    height: 5vh;
  }
  #Usuario{
    width: 25vw;
  }

  #pagina-cadastro{
    height: 70vh;
  }
  
  img{
    height: 100px;
    width: auto;
  }

  .Modal-senha{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    /* background-color: #d8d8d800;  */
  }
  
  .recuperar-senha-form{
    display: block;
    /* align-items: center;
    justify-content: center; */
    width: 25vw;
    height: 34vh;
    border-radius: 20px;
  }
  .close{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }
  
  .close:hover{
    cursor: pointer;
    background-color: #d1d1d1;
  }


  .modal-cima{
    display: flex;
    align-items: top;
    justify-content: space-between;
    height: 15%;
    width: 25vw;
  }
  .modal-cima .texto{
    margin-left: 15%;
 
  }
 
  .modal-meio{
    height: 30%;
    width: 25vw;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .modal-baixo{
    height: 25%;
    width: 25vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
    
  .texto{
    margin-left: 50%;
  }
  .texto2{
    width: 23vw;
    text-align: center;
    font-size: 1rem;
  }