 *{
    margin: 0;
    padding: 0;
    
}

.body{
    height: 92vh;
    width: 100vw;
    background-color: whitesmoke;
    overflow-y: auto;
    
}
 .logo-feed{
    height:50px;
     width:50px;
} 
.navbar{
    background-color: #971eac;
} 
.css-4eddfg-MuiPaper-root-MuiAppBar-root {
    background-color: #971eac;
}


.topo-postagem{
    height: 10vh;
    width: auto;
    background-color: aqua;
}

.postagem-card{
    width: 25vw;
    height: 70vh;
    background-color: #1a151b;
    display:block;
    width:50%;
    margin:0 auto 0 auto;
}

.postagem-img{
    width: 25vw;
    height: 50vh;
    margin-left: auto;
    margin-right: auto;
}

.footer-postagem{
    width: auto;
    height: 10vh;
    background-color: blueviolet;
}