body{
  background-image: linear-gradient(to bottom right, #3423ea, #971eac);
  height: 100vh;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
}

form{
  margin-top: 8%;
  height: 60vh;
  width: 50vw;
  background-color: #d8d8d8;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2)
}



.titulo{
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
}



.input-email{
  /* background-color: aqua; */
  height: 10vh;
  width: 50vw;
  text-align: center;
  
}

.input-senha{
  /* background-color: purple; */
  height: 10vh;
  width: 50vw;
  text-align: center;
}

.botao{
  /* background-color: black; */
  height: 8vh;
  width: 50vw;
  text-align: center;
  
}
.rodape{
  /* background-color: blue; */
  height: 8vh;
  width: 50vw;
  text-align: center;
}
.rodape a{
  color: rgb(15, 15, 15);
  
}

.rodape a:hover{
  color: blue;
}

#Email{
  width: 25vw;
}
#Senha{
  width: 25vw;
}
#Login{
  width: 15vw;
  height: 5vh;

}

img{
  height: 100px;
  width: auto;
}


